<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.aleksander.screenshot-rename</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/aleksander.dytko/.local/bin/screenshot-rename/rename-screenshot.sh</string>
    </array>
    <key>WatchPaths</key>
    <array>
        <string>/Users/aleksander.dytko/Downloads/Screenshots</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/Users/aleksander.dytko/.local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/aleksander.dytko/Library/Logs/screenshot-rename.stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/aleksander.dytko/Library/Logs/screenshot-rename.stderr.log</string>
</dict>
</plist>
